/* font use */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.contanir{
    background-color: #FFFFFF;
    width: 870px;
    padding:30px;
    border-radius: 5px;
    margin-top: 21px;
}
main{
    display: flex;
    flex-direction: column;
   align-items: center;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top players style  */

.top-players{
    margin-bottom: 22px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
   
   
}
.player{
    display: flex;
    align-items: center;
   
}
.player img{
    width: 56px;
    height: 56px;

}
.player-name{
    margin-left: 18px;
   
}

/* -----------------top blogs style --------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
}
.top-blog{
    display: flex;
}


.top-blog-img img{
    width: 177px;
    height: 117px;
}
.top-blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;

}
.blog-rither{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-rither a{
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}
/*-------------------
       course style 
 --------------------*/
 .courses{
     display: grid;
     grid-template-columns: repeat(3,1fr);
 }
 .course{
     width: 252px;
 }
 .course-imge img{
    width: 224px;
    height: 104px;
 }
.course-title{
    font-size: 20px;
}
.course-author{
    font-size: 14px;
    color: #ED6B4F;
}
.course-timing{
   
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;

}
.course-stars span{
    color: #9F9F9F;
    margin-left: 10px;
}

.fa-star.full{
    color: #FFC014;
    
}
.fa-star.blank{
    color: #AEAEAE;
}
.course-duration{
    width: 80px;
    background: #FFE4E8;
    border-radius: 14px;
    padding: 1px 5px;
    color: #dc4a4a;
}
/* ------------------
  media query style
  -------------------*/
  /* mobile devices  */
  @media only screen and (max-width:688px){
      .contanir{
          width: 100%;
      }
      .players,.blogs{
          
          grid-template-columns: repeat(2,1fr);
          
      }
      .player,.blogs{
          flex-direction: column;
          justify-content: center;
      }
      .player-name{
        margin-left: 0px;
    }
      .top-blog{
        flex-direction: column;

      }
      .courses{
        grid-template-columns: repeat(1,1fr);
       

      }
     
      
  }
   /* i pad devices  */
   @media only screen and (min-width:688px) and (max-width:992px){
       .contanir{
           width: 100%;
       }
       .players{
           grid-template-columns: repeat(2,1fr);
         
       }
       .player{
           align-items: center;
           justify-content: center;
       }
   }